@typeparam TTokenType where TTokenType : Enum

@code {

	[Parameter, EditorRequired]
	public required ITokenizer<TTokenType> Tokenizer { get; set; }

	[Parameter, EditorRequired]
	public required ITokenStyleMapper<TTokenType> StyleMapper { get; set; }

	[Parameter, EditorRequired]
	public required ITheme Theme { get; set; }

	[Parameter, EditorRequired]
	public required string Code { get; set; }

	[Parameter]
	public string? Style { get; set; }

	[Parameter]
	public ITokenStyleRenderer? StyleRenderer { get; set; }

	private List<SyntaxToken<TTokenType>>? tokens;

	private string? containerStyle;
	private readonly Dictionary<TTokenType, string> tokenStyles = new();

	protected override void OnParametersSet()
	{
		StyleRenderer ??= TokenStyleCssRenderer.Instance;

		string?[] styles = [StyleRenderer.Render(Theme.GetDefaultStyle()), Style];
		containerStyle = string.Join(';', styles.Where(s => !string.IsNullOrWhiteSpace(s)));

		tokenStyles.Clear();
		tokens = Tokenizer.Tokenize(Code).ToList();

		foreach (var token in tokens.Where(token => !tokenStyles.ContainsKey(token.Type)))
		{
			var mapped = StyleMapper.MapTokenType(token.Type);
			var style = Theme.GetTokenStyle(mapped);
			var rendered = StyleRenderer.Render(style);
			tokenStyles.Add(token.Type, rendered);
		}
	}

}

@if (tokens != null)
{
	<pre style="@containerStyle">
		@foreach (var token in tokens)
		{
			<span style="@tokenStyles[token.Type]">@token.Value</span>
		}
	</pre>
}
