@inherits BunitContext

@code {
	[Test]
	public void TestHighlighter() {
		const string source = "-keyword1a";

		var tokenizer = new SimpleTokenizer();
		var mapper = new SimpleTokenStyleMapper();
		var theme = new TestTheme();

		var component = Render(@<SyntaxHighlighter Tokenizer="@tokenizer" StyleMapper="@mapper" Theme="@theme" Code="@source"/>);

		component.MarkupMatches(@<pre style="background:#1e1e1e;color:#d4d4d4;" diff:whitespace="RemoveWhitespaceNodes">
  <span style="color:#ff0000;">-</span>
  <span style="color:#47a2ed;font-weight:bold;">keyword</span>
  <span style="color:#b3cca4;">1</span>
  <span style="color:#cc884e;">a</span>
</pre>);
	}
}
