@typeparam TTokenType where TTokenType : Enum

@code {

	[Parameter, EditorRequired]
	public required ITokenizer<TTokenType> Tokenizer { get; set; }

	[Parameter, EditorRequired]
	public required ITokenTypeHighlighter<TTokenType> Highlighter { get; set; }

	[Parameter, EditorRequired]
	public required string Code { get; set; }

	private List<SyntaxToken<TTokenType>>? tokens;

	private readonly Dictionary<TTokenType, string> classDefinitions = new();

	protected override void OnParametersSet()
	{
		classDefinitions.Clear();
		tokens = Tokenizer.Tokenize(Code).ToList();

		foreach (var token in tokens.Where(token => !classDefinitions.ContainsKey(token.Type)))
		{
			classDefinitions.Add(token.Type, Highlighter.GetCss(token.Type));
		}
	}

}

@if (tokens != null)
{
	<pre style="@Highlighter.GetDefaultCss()">
		@foreach (var token in tokens)
		{
			<span style="@classDefinitions[token.Type]">@token.Value</span>
		}
	</pre>
}
