name: NuGet Publish

on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+*'

jobs:
  publish:
    name: Publish NuGet Package

    environment: nuget.org

    permissions:
      contents: write

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Setup .NET
        uses: actions/setup-dotnet@v5

      - name: Build
        run: dotnet build -c Release

      - name: Publish Blism.Core Package
        run: dotnet nuget push Blism.Core/bin/Release/*.nupkg -k ${{ secrets.NUGET_API_KEY }} -s https://api.nuget.org/v3/index.json

      - name: Publish Blism.Blazor Package
        run: dotnet nuget push Blism.Blazor/bin/Release/*.nupkg -k ${{ secrets.NUGET_API_KEY }} -s https://api.nuget.org/v3/index.json

      - name: Publish Language Packages
        run: |
          for language in Languages/*/; do
            language_name=$(basename "$language")

            for package in "$language"*/; do
              package_name=$(basename "$package")
              [ [ "$package_name" =~ \.Test$ ] ] && continue

              echo "::group::Publishing $language_name / $package_name"

              {
                dotnet nuget push "$package/bin/Release/"*.nupkg \
                -k ${{ secrets.NUGET_API_KEY }} \
                -s https://api.nuget.org/v3/index.json
              } || {
                echo "::error::Failed to publish $language_name / $package_name"
              }

              echo "::endgroup::"
            done
          done

      - name: Publish GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          generate_release_notes: true
          make_latest: true
